@font-face {
 font-family: 'HelveticaNeue-UltraLight';
 src: url('font/HelveticaNeue-UltraLight.eot'); /* IE9 Compat Modes */
 src: url('font/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/HelveticaNeue-UltraLight.woff') format('woff'), /* Modern Browsers */ url('font/HelveticaNeue-UltraLight.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg'); /* Legacy iOS */
}
.font-HelveticaNeueUL{
	font-family: "HelveticaNeue-UltraLight","Microsoft YaHei",微软雅黑,Helvetica, Arial, sans-serif;
}
@font-face {
 font-family: 'HelveticaNeueLTStd-Roman';
 src: url('font/HelveticaNeueLTStd-Roman.eot'); /* IE9 Compat Modes */
 src: url('font/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/HelveticaNeueLTStd-Roman.woff') format('woff'), /* Modern Browsers */ url('font/HelveticaNeueLTStd-Roman.ttf') format('truetype'), /* Safari, Android, iOS */ url('font/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg'); /* Legacy iOS */
}
.font-HelveticaRoman{
	font-family: "HelveticaNeueLTStd-Roman","Microsoft YaHei",微软雅黑,Helvetica, Arial, sans-serif;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: "Microsoft YaHei",微软雅黑,Helvetica, Arial, sans-serif;
	letter-spacing: 0.05em;
}
body{
	min-width: 1000px;
}
.g-w1000{
	width: 1000px;
	margin: 0 auto;
}
/* site header */
.g-site-header{
	height: 110px;
}
.w-site-header{
	position: relative;
	z-index: 100;
	width: 100%;
	min-width: 1000px;
	background: #000;
	border-bottom: 1px solid #ea5504;
	box-shadow: 0 0 20px rgba(0,0,0,1);
}
.site-header{
	position: relative;
	z-index: 10;
	width: 90%;
	height: 110px;
	margin: 0 auto;
	font-size: 0.875em;
}
.w-logo-link{
	float: left;
	display: block;
	padding: 35px 0 35px 2em;
}
.w-site-nav{
	position: absolute;
	right: 5%;
	bottom: 0;
}
.site-nav{
	position: relative;
	padding-top: 28px;
}
.g-site-lang{
	overflow: hidden;
	margin-top: 20px;
}
.site-lang{
	float: right;
	padding-right: 2em;
}
.site-lang-sep{
	display: inline-block;
	height: 1em;
	margin: 0 8px;
	vertical-align: bottom;
	border-left: 2px solid #464646;
}
.site-nav-item{
	position: relative;
	display: inline-block;
	padding: 12px 2em;
	letter-spacing: normal;
}
.site-nav-link,.site-lang,.site-lang-link{
	color: #666;
}
.site-nav-link:hover,.site-lang-link:hover{
	color: #fff;
}
.site-nav-item_current .site-nav-link,.site-lang-link_current{
	color: #fff;
}
.site-nav-gap-bridge{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 8px;
	opacity: 0;
}

.w-site-header_fixed{
	position: fixed;
}
.w-site-header_fixed .site-header{
	height: 50px;
}
.w-site-header_fixed .w-logo-link{
	padding-top: 8px;
	padding-bottom: 8px;
}
.w-site-header_fixed .logo-pic{
	height: 34px;
	width: auto;
}
.w-site-header_fixed .g-site-lang{
	display: none;
}
.w-site-header_fixed .site-nav-item{
	padding-bottom: 18px;
	padding-top: 18px;
}

/*二级导航*/
.site-nav-item:hover .site-subnav{
	visibility: visible;
	opacity: 1;
}
.site-subnav{
	position: absolute;
	left: -2.5em;
	top: 100%;
	display: block;
	padding: 0 2em;
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
	border-top: 1px solid #ea5504;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-in-out 0.18s;
	-o-transition: opacity 0.3s ease-in-out 0.18s;
	transition: opacity 0.3s ease-in-out 0.18s;
}
.site-subnav-item{
	display: block;
	width: 7em;
	text-align: center;
	line-height: 4;
	background: url(images/subnav-sep.png) center bottom no-repeat;
}
.site-subnav-item:last-child{
	background: none;
}
.site-subnav-link{
	color: #666;
}
.site-subnav-link:hover{
	color: #fff;
}
.site-nav-item:nth-child(4) .site-subnav{
	left: -1.5em;
}
.site-nav-item:nth-child(5) .site-subnav{
	left: -1em;
}
.site-nav-item:nth-child(6) .site-subnav{
	left: -1.5em;
}

/* 导航滑动游标 */
.site-nav-currentTag{
	position: absolute;
	top: 100%;
	left: 1em;
	width: 2em;
	padding: 0 1em;
	border-bottom: 7px solid #ea5504;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;

	-webkit-transition: all 0.36s ease-out;
	-o-transition: all 0.36s ease-out;
	transition: all 0.36s ease-out;
}
.site-nav-item_current.site-nav-item:nth-child(1)~.site-nav-currentTag,
.site-nav .site-nav-item:nth-child(1):hover~.site-nav-currentTag{
	left: 1em;
	width: 2em;
}
.site-nav-item_current.site-nav-item:nth-child(2)~.site-nav-currentTag,
.site-nav .site-nav-item:nth-child(2):hover~.site-nav-currentTag{
	left: 7em;
	width: 2em;
}
.site-nav-item_current.site-nav-item:nth-child(3)~.site-nav-currentTag,
.site-nav .site-nav-item:nth-child(3):hover~.site-nav-currentTag{
	left: 13em;
	width: 2em;
}
.site-nav-item_current.site-nav-item:nth-child(4)~.site-nav-currentTag,
.site-nav .site-nav-item:nth-child(4):hover~.site-nav-currentTag{
	left: 19em;
	width: 4em;
}
.site-nav-item_current.site-nav-item:nth-child(5)~.site-nav-currentTag,
.site-nav .site-nav-item:nth-child(5):hover~.site-nav-currentTag{
	left: 27em;
	width: 4em;
	/*left: 27em;
	width: 5em;*/
}
.site-nav-item_current.site-nav-item:nth-child(6)~.site-nav-currentTag,
.site-nav .site-nav-item:nth-child(6):hover~.site-nav-currentTag{
	left: 35em;
	width: 4em;
	/*left: 36em;
	width: 4em;*/
}

/* site footer */
.g-site-footer{
	height: 100px;
	font-size: 0.75em;
	text-align: center;
	border-top: 3px solid #ea5504;
	background-color: #000;
}
.site-footer{
	display: inline-block;
	margin-top: 35px;
}
.site-footer-item{
	display: inline-block;
	margin: 0 1em;
}
.site-footer-item-link{
	color: #a3a3a3;
}
.site-footer-item-link:hover{
	color: #fff;
}