
/* home banner */
.g-home-banner{
	position: relative;
	text-align: center;
	background-color: #ccc;
}
.home-banner-list{
	position: relative;
	padding-bottom: 39.166667%;
}
.home-banner-item{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 7;
	width: 100%;
	opacity: 0;
	overflow: hidden;
}
.w-home-banner-item-media{
	width: 100%;
}
.home-banner-item-pic{
	width: 100%;
	height: auto;
}
.home-banner-icon-list{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
}
.w-home-banner-item-text{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	letter-spacing: normal;
	/*text-shadow: 0 0 2px rgba(0,0,0,0.6);*/
}
.home-banner-item-title_1{
	margin-top: 8%;
	font-size: 1.2em;
	color: #ea5504;
	font-weight: normal;
	text-transform: uppercase;
}
.home-banner-item-title_2{
	margin-top: 15px;
	font-size: 2.25em;
	color: #fff;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: normal;
}

.home-banner-icon-list{
	display: inline-block;
}
.home-banner-icon-item{
	display: inline-block;
	margin: 15px;
}
.home-banner-icon{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #cdcdcd;
}
.home-banner-icon:hover,
.home-banner-icon-item_current .home-banner-icon{
	background-color: #ea5504;
}


/* 共用 */
.home-section-title-1{
	height: 30px;
	text-align: center;
	color: #fff;
	line-height: 30px;
}
.home-section-title-1_sep{
	display: inline-block;
	height: 1.75em;
	margin: 0 5px;
	vertical-align: text-bottom;
	border-right: 1px solid #fff;
}
.home-section-title-1_en{
	font-size: 1.75em;
}
.home-section-title-1_cn{
	font-size: 1.75em;
}

/* home product */
.g-home-products{
	position: relative;
	padding: 50px 0 80px;
	background-color: #222;
	background-image: -webkit-linear-gradient(#f9f9f9, #f9f9f9 50%, #bdbdbd);
	background-image: -o-linear-gradient(#f9f9f9, #f9f9f9 50%, #bdbdbd);
	background-image: linear-gradient(#f9f9f9, #f9f9f9 50%, #bdbdbd);
}
.home-product-360tip{
	position: absolute;
	left: 50%;
	top: 230px;

	width: 60px;
	height: auto;
	margin-left: -30px;
}
.home-products-navBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	display: block;
	width: 64px;
	height: 64px;
	margin-top: -32px;
	background-color: rgba(0,0,0,0.1);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
}
.home-products-navBtn:hover{
	background-color: rgba(0,0,0,0.25);
}
.home-products-navBtn_left{
	left: 0;
	background-image: url(images/home/icon-arrow-left.png);
}
.home-products-navBtn_right{
	right: 0;
	background-image: url(images/home/icon-arrow-right.png);
}
.home-section-title-1_products{
	color: #ea5504;
}
.home-section-title-1_products .home-section-title-1_sep{
	border-right: 1px solid #ea5504;
}
.w-home-products-title{
	position: relative;
	width: 1000px;
	height: 1em;
	margin: 50px auto 0;
	overflow: hidden;
	font-size: 0.875em;
}
.w-home-products-title-list{
	width: 100%;
	overflow: hidden;
}
.home-products-title-list{
	position: relative;
	width: 100%;
	height: 1em;
}
.home-products-title{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: normal;
}
.home-products-title a{
	color: #000;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.home-products-title a:hover{
	color: #888;
}
.home-products-title-mask{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 1em;
	background-image: -webkit-linear-gradient(left, rgba(249,249,249,1) 5%, rgba(249,249,249,0), rgba(249,249,249,1) 95%);
	background-image: -moz-linear-gradient(left, rgba(249,249,249,1) 5%, rgba(249,249,249,0), rgba(249,249,249,1) 95%);
	background-image: -o-linear-gradient(left, rgba(249,249,249,1) 5%, rgba(249,249,249,0), rgba(249,249,249,1) 95%);
	background-image: linear-gradient(to right, rgba(249,249,249,1) 5%, rgba(249,249,249,0), rgba(249,249,249,1) 95%);

}
.w-home-products-360{
	position: relative;
	width: 100%;
	height: 370px;
	padding-bottom: 100px;
	margin-top: 80px;
	background: url(images/home/bg-products-circle.png) center bottom no-repeat;
}
.home-products-360-item{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.home-products-360-item_show{
	opacity: 1;
	z-index: 2;
}
.home-products-360-item-holder{
	position:relative;
	width: 470px;
}
.home-products-360-item-info{
	/*visibility: hidden;*/
	display: block;
	width: 465px;
	margin: 0 auto 0;
}


/* home technology */
.g-home-technology{
	padding: 120px 0 150px;
	background: url(images/home/bg-1.jpg) center no-repeat fixed;
	background-size: cover;
}
.home-technology-list{
	text-align: center;
	margin-top: 60px;
}
.home-technology-item{
	position: relative;
	display: inline-block;
	padding: 0 30px;
}
.home-technology-item-link{
	color: #fff;
	font-size: 1.25em;
}
.home-technology-sep{
	position: absolute;
	top: 50%;
	margin-top: -4px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: #fff;
}
.home-technology-sep_left{
	left: -4px;
}
.home-technology-sep_right{
	right: -4px;
}
.home-technology-book{
	text-align: center;
}
.home-technology-book-link{
	font-size: 0.875em;
	color: #fff;
}

/* home solutions */
.g-home-solutions{
	padding: 50px 0 120px;
	background: url(images/home/bg-2.jpg) center no-repeat fixed;
	background-size: cover;
}
.home-solutions-item{
	position: relative;
	display: inline-block;
	width: 33.3%;
	margin-top: 80px;
	text-align: center;
}
.home-solutions-item-sep{
	position: absolute;
	top: 50%;

	display: block;
	width: 2px;
	height: 265px;
	margin-top: -132px;
	background: url(images/home/sep-solutions.png) center center no-repeat;
}
.home-solutions-item-sep_left{
	left: 0;
}
.home-solutions-item-sep_right{
	right: 0;
}
.home-solutions-item-pic-link{
	text-align: center;
}
.home-solutions-item-pic-link:hover{
	opacity: 0.7;
}
.home-solution-item-title-link{
	display: block;
	margin-top: 40px;
	color: #fff;
}
.home-solution-item-subtitle{
	margin-top: 20px;
	padding: 0 2em;
	color: #e5e5e5;
	font-size: 0.875em;
	line-height: 1.5;
}
.home-solution-item-subtitle_en{
	letter-spacing: 0.02em;
}
/* 共用 */

.w-home-section-title-2{
	font-size: 1.5em;
	color: #ea5504;
	border-left: 1px solid #ea5504;
}
.home-section-title-2_cn{
	margin-left: 10px;
}
.home-section-title-2_en{
	margin-left: 10px;
	margin-top: 8px;
	font-weight: normal;
}
/* support and service */
.g-home-ss{
	padding: 120px 0;
	background: url(images/home/bg-3.jpg) center no-repeat fixed;
	background-size: cover;
}
.w-home-ss-description{
	margin-top: 40px;
	color: #fff;
}
.home-ss-subtitle{
	font-weight: normal;
	line-height: 2;
}
.home-ss-subdescrip{
	width: 40%;
	color: #bdbfc5;
	font-size: 0.875em;
	line-height: 1.5;
}
.w-home-ss-list{
	margin-top: 40px;
}
.home-ss-item{
	display: inline-block;
}
.home-ss-link{
	display: inline-block;
	padding: 0.8em 1em;
	color: #ea5504;
	font-size: 0.875em;
	background-color: rgba(0,0,0,0.3);
	border-radius: 2px;
}
.home-ss-link:hover{
	background-color: rgba(0,0,0,0.4);
}
/* home about us */
.g-home-aboutus{
	padding: 50px 0 100px;
}
.home-aboutus-list{
	overflow: hidden;
	margin-top: 20px;
}
.home-aboutus-item{
	width: 248px;
	margin: 0 1px;
	float: left;
}
.home-aboutus-link{
	color: #fff;
}
.home-aboutus-link:hover{
	opacity: 0.9;
}
.home-aboutus-pic{
	width: 100%;
	height: auto;
}
.home-aboutus-subtitle{
	padding: 1em 0;
	font-size: 0.875em;
	font-weight: normal;
	text-align: center;
	background-color: #ea5504;
}















