
.page-content-post h2{
	margin-left: -1px;
	margin-bottom: 0;
	/*height: 60px;
	line-height: 60px;
	font-size: 1.625em;*/
	background-image: url(images/page/solution-title-bg.png),-webkit-linear-gradient(left, #bdbdbd, #ececec);
	background-image: url(images/page/solution-title-bg.png),-moz-linear-gradient(left, #bdbdbd, #ececec);
	background-image: url(images/page/solution-title-bg.png),-o-linear-gradient(left, #bdbdbd, #ececec);
	background-image: url(images/page/solution-title-bg.png),linear-gradient(to right, #bdbdbd, #ececec);
	background-position: 98% center, 0 0;
}
.page-post-section{
	position: relative;
	border: 1px solid #cecece;
	margin-bottom: 50px;
}
.page-post-section:after{
	content: "";
	position: absolute;
	right: -1px;
	bottom: -1px;
	z-index: 10;
	display: block;
	width: 50px;
	height: 50px;
	background: url(images/page/corner.png) left top no-repeat;
}
.w-page-solution-pic{
	border-top: 1px solid #cecece;
	overflow: hidden;
}
.w-page-solution-pic img{
	width: 100%;
	/*max-width: 100%;*/
}
.w-page-solution-text{
	padding: 0 35px 35px;
	background-color: #e6e6e6;
}
.w-page-solution-text h3{
	padding-top: 2em;
	padding-bottom: 1em;
	color: #e94c07;
	font-size: 0.875em;
}
.w-page-solution-text p{
	margin: 0;
}