.g-page-banner{
	position: relative;
	padding-top: 140px;
	/*background: url(images/page/bg.jpg) center center no-repeat;*/
	background-color: #ed6d00;
	background-image: -webkit-linear-gradient(left, #ed6d00, #fff100);
	background-image: -moz-linear-gradient(left, #ed6d00, #fff100);
	background-image: -o-linear-gradient(left, #ed6d00, #fff100);
	background-image: linear-gradient(to right, #ed6d00, #fff100);
}
.w-page-title{
	position: absolute;
	left: 0;
	top: 36.781609%;
	width: 100%;
	text-align: center;
}
.page-title{
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
}
.page-subtitle{
	margin-top: 10px;
	font-size: 0.875em;
	color: #e94c07;
}
.page-title_sep{
	display: inline-block;
	height: 2.375em;
	margin: 0 5px;
	vertical-align: bottom;
	border-right: 1px solid #fff;
}
.page-title_en,.page-title_cn{
	font-size: 2.375em;
}
/* 主内容 */
.g-page-main{
	background-color: #f0f0f0;
}
.w-page-main{
	padding-bottom: 100px;
}
.w-page-breadcrumb{
	padding: 2em 0;
	font-size: 0.75em;
	color: #9b9b9b;
}
.g-page-content{
	position: relative;
	overflow: hidden;
}
.w-page-content-nav{
	float: left;
	width: 250px;
}
.page-content-nav{
	width: 250px;
}
.page-content-nav_fixed{
	position: fixed;
	top: 60px;
}
.page-content-nav_absolute{
	position: absolute;
	bottom: 0;
}
.page-content-nav-list,
.page-content-subnav-list{
	width: 100%;
	overflow: hidden;
}
.page-content-nav-item:hover .page-content-nav-link{
	opacity: 0.82;
}
.page-content-nav-item{
	border-bottom: 1px solid #ddd;
}
.page-content-nav-item_current .page-content-subnav-list{
	padding: 10px 0;
	border-top: 1px solid #ddd;
}
.page-content-nav-link{
	display: table-cell;
	width: 215px;
	height: 50px;
	padding: 0 10px 0 25px;
	color: #ec6e00;
	vertical-align: middle;
	background: url(images/page/nav-ico-right.png) 10px center no-repeat;
}
.page-content-nav-item_current .page-content-nav-link{
	background-image: url(images/page/nav-ico-down.png);
}
.page-content-nav-item_close .page-content-nav-link{
	background-image: url(images/page/nav-ico-right.png);
}
.page-content-nav-item_close .page-content-subnav-list{
	display: none;
}
.page-content-nav-text{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-size: 0.875em;
	line-height: 1.2;
	text-transform: uppercase;
}

.page-content-subnav-link{
	display: table-cell;
	width: 205px;
	height: 46px;
	padding:0 10px 0 35px;
	color: #a7a7a7;
	vertical-align: middle;
	background: url(images/page/nav-ico-right.png) 20px center no-repeat;
}
.page-content-subnav-link:hover{
	color: #ec6e00;
}
.page-content-subnav-text{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-size: 0.75em;
	line-height: 1.2;
	text-transform: uppercase;
}
.page-content-subnav-list h3{
	padding-left: 25px;
	line-height: 2;
}
.page-content-subnav-list p{
	color: #b6b6b6;
	font-size: 0.75em;
	line-height: 1.6;
	padding:0 10px 0 25px;
}



.w-page-content-post{
	float: right;
	width: 710px;
}

/* download button */
.w-page-download{
	width: 100px;
	height: 224px;
	margin-top: 40px;
	padding-left: 150px;
	overflow: hidden;
	background: url(images/page/book.png) left top no-repeat;
}
.page-download-title{
	margin-top: 50px;
	font-size: 0.875em;
	color: #e94c07;
}
.page-download-btn{
	position: relative;
	padding-left: 12px;
	font-size: 0.75em;
	color: #a7a7a7;
	line-height: 2;
}
.page-download-btn-icon{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-width: 5px 7px;
	border-color: transparent transparent transparent #a7a7a7;
	border-style: dashed dashed dashed solid;
}
.page-download-btn:hover{
	color: #e94c07;
}
.page-download-btn:hover .page-download-btn-icon{
	border-color: transparent transparent transparent #e94c07;
}

/*文章*/
.page-content-post h2{
	height: 42px;
	margin-bottom: 1em;
	padding-left: 0.8em;
	line-height: 42px;
	color: #e94c07;
	font-weight: normal;
	background-color: #cdcdcd;
	background-image: url(images/page/title-bg.png),-webkit-linear-gradient(left, #cdcdcd, #ececec);
	background-image: url(images/page/title-bg.png),-moz-linear-gradient(left, #cdcdcd, #ececec);
	background-image: url(images/page/title-bg.png),-o-linear-gradient(left, #cdcdcd, #ececec);
	background-image: url(images/page/title-bg.png),linear-gradient(to right, #cdcdcd, #ececec);
	background-position: right top, 0 0;
	background-repeat: no-repeat;
	border-left: 5px solid #e94c07;
}
.page-content-post p{
	color: #676767;
	font-size: 0.75em;
	line-height: 1.6;
	margin: 1em 0;
}
.page-content-post p img{
	display: block;
	max-width: 100%;
	margin: 1.5em auto;
}
.page-post-banner{
	margin-bottom: 30px;
}
.page-post-banner img{
	width: 100%;
}
/*公共功能类*/
.f-colorBorder{
	padding-top: 5px;
	background-color: #e60213;
	background-image: -webkit-linear-gradient(left, #e60213, #ffef00);
	background-image: -moz-linear-gradient(left, #e60213, #ffef00);
	background-image: -o-linear-gradient(left, #e60213, #ffef00);
	background-image: linear-gradient(to right, #e60213, #ffef00);
}
.f-colorBorder_thin{
	padding-top: 1px;
	background-color: #bbb;
	background-image: -webkit-linear-gradient(left, #e60213 40px, #bbb 40px);
	background-image: -moz-linear-gradient(left, #e60213 40px, #bbb 40px);
	background-image: -o-linear-gradient(left, #e60213 40px, #bbb 40px);
	background-image: linear-gradient(to right, #e60213 40px, #bbb 40px);
}
.f-es{
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.f-inlineList{
	overflow: hidden;
}
.f-inlineList li{
	display: list-item;
	margin-right: 30px;
	float: left;
	list-style-image: none;
	list-style-type: disc;
	list-style-position: inside;
	color: #434343;
	font-size: 0.875em;
}
.font-orange{
	color: #e94c07;
}
/* 应用领域 */
.w-page-productApply{
	border: 5px solid #e6e6e6;
	padding: 18px; 
}
.page-productApply-r{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #c4c4c4;
}
.page-productApply-r:last-child{
	padding-bottom: 0;
	margin-bottom: 12px;
	border-bottom: none;
}
.w-page-productApply h3{
	font-weight: normal;
	font-size: 0.875em;
}
.page-productApply-logoList{
	overflow: hidden;
	margin-right: -5px;
}
.page-productApply-logoList li{
	display: block;
	float: left;
}
.page-productApply-logoList img{
	margin-right: 4px;
	margin-bottom: 4px;
	border: 1px solid #dbd8d8;
}











