.w-page-content-banner{
	margin-bottom: 50px;
}
.page-content-banner-list{
	position: relative;
	overflow: hidden;
	height: 301px;
	border-width: 0 1px;
	border-color: #d9d7d7;
	border-style: solid;
	background-color: #f0f0f0;
}
.page-content-banner-item{
	display: block;
	position: absolute;
	left: 718px;
	top: 0;
	width: 100%;
}
.page-content-banner-pic{
	width: 100%;
}
.w-page-content-banner-controls{
	position: relative;
	height: 60px;
	padding: 0 60px;
	border: 1px solid #d9d7d7;
	background-color: #f0f0f0;
}
.page-content-banner-switchBtn{
	position: absolute;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
}
.page-content-banner-switchBtn_left{
	left: 0;
	background-image: url(images/page/arrow-left.png);
}
.page-content-banner-switchBtn_right{
	right: 0;
	background-image: url(images/page/arrow-right.png);
}
.w-page-content-banner-title{
	height: 60px;
	border-width: 0 1px;
	border-color: #d9d7d7;
	border-style: solid;
	text-align: center;
}
.page-content-banner-title_en{
	color: #ef7d00;
	font-size: 0.875em;
	text-transform: uppercase;
	font-weight: normal;
	padding-top: 0.8em;
}
.page-content-banner-title_cn{
	color: #676767;
	font-size: 0.75em;
	font-weight: normal;
	overflow: hidden;
	padding-top: 0.8em;
}
/* 技术介绍 */
.page-productTechInfo-list{
	overflow: hidden;
	margin: 10px -20px 10px;
}
.page-productTechInfo-item{
	width: 50%;
	float: left;
	overflow: hidden;
}
.page-productTechInfo-item .g-wrap{
	margin: 10px 20px;
}
.page-productTechInfo-item h3{
	font-size: 0.875em;
	padding: 12px 0;
}
.page-productTechInfo-item p{
	padding: 10px 0;
	margin: 0;
	background-color: #f0f0f0;
}
/* 规格参数 */





















