/*文章*/
.page-content-post h2{
	height: 42px;
	margin-bottom: 1em;
	padding-left: 0.8em;
	line-height: 42px;
	color: #e94c07;
	font-weight: normal;
	background-color: #cdcdcd;
	background-image: url(images/page/title-bg.png),-webkit-linear-gradient(left, #cdcdcd, #ececec);
	background-image: url(images/page/title-bg.png),-moz-linear-gradient(left, #cdcdcd, #ececec);
	background-image: url(images/page/title-bg.png),-o-linear-gradient(left, #cdcdcd, #ececec);
	background-image: url(images/page/title-bg.png),linear-gradient(to right, #cdcdcd, #ececec);
	background-position: right top, 0 0;
	background-repeat: no-repeat;
	border-left: 5px solid #e94c07;
}
.page-content-post ul li{
	color: #676767;
	font-size: 0.75em;
	line-height: 1.6;
	margin: 1em 0;
	padding-left: 1.6em;
	background: url(images/page/li-ico.png) 4px 5px no-repeat;
}
.page-content-post p img{
	display: block;
	max-width: 100%;
	margin: 1.5em auto;
}
.page-content-post a{
	color: #434343;
	text-decoration: underline;
}
.page-content-post a:hover{
	color: #e94c07;
}