/* 联系我们 */
.page-aboutus-map{
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #d1d1d1;
	margin-bottom: 30px;
	overflow: hidden;
}
.page-aboutus-map img{
	width: 100%;
}
.page-aboutus-address-head {
	position: relative;
	line-height: 3;
}
.page-aboutus-address-head h3{
	color: #e94c07;
	font-size: 1.25em;
	font-weight: normal;

}
.w-page-aboutus-followus{
	position: absolute;
	right: 0;
	top: 0;
}

.w-page-aboutus-followus li{
	display: inline-block;
}
.w-page-aboutus-followus a:hover{
	opacity: 0.8;
}
.followus-wechat{
	position: relative;
}
.wechat-qr{
	display: none;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 1000;
}
.followus-wechat:hover .wechat-qr{
	display: block;
}
.page-aboutus-address-table{
	width: 100%;
	color: #353535;
	font-size: 0.875em;
}
.page-aboutus-address-table tr{
	border-bottom: 1px solid #d4d4d4;
}
.address-name{
	width: 250px;
	height: 60px;
	background: #e8e8e8;
	vertical-align: middle;
	text-align: center;
}
.address-value{
	padding-left: 2em;
	vertical-align: middle;
}
.f-border_orange{
	border-top: 1px solid #d06334;
}
.f-border_gray{
	border-top: 1px solid #bbb;
}



/* 人物介绍 */
.page-people-item{
	overflow: hidden;
	margin-top: 30px;
}
.w-page-people-pic{
	float: left;
	padding-right: 30px;
}
.w-page-people-pic img{
	width: 100%;
}
.w-page-people-text{
	overflow: hidden;
}
.page-people-name{
	font-size: 1.25em;
	line-height: 1.2;
}
.page-people-title{
	font-size: 0.875em;
	line-height: 2;
	border-bottom: 1px solid #c0c0c0;
}
/* 工作 */
.page-jobs-section{
	margin-bottom: 30px;
}
.page-jobs-section h4{
	font-size: 1em;
	color: #e94c07;
	line-height: 2.4;
}
.page-jobs-section h5{
	font-size: 0.875em;
}

