.w-page-main{
	padding-top: 60px;
	height: 320px;
}
.sitemap-list{
	display: block;
	float: left;
	width: 158px;
	margin: 0 20px;

}
.sitemap-list li a{
	color: #676767;
	line-height: 2.2;
	font-size: 0.75em;
}
.sitemap-list .sitemap-group{
	border-bottom: 1px solid #c8c8c8;
	font-size: 1.25em;
	padding-bottom: 12px;
	margin-bottom: 16px;
	line-height: 0;
}
.sitemap-list .sitemap-group a{
	color: #ed6c00;
}