.page-service-form{
	background: #f0f0f0;
	border: 1px solid #b6b6b6;
	border-top: none;
	font-size: 0.875em;
	color: #434343;
	overflow: hidden;
}
.service-form-row{
	margin-top: 25px;
}
.w-service-form-field,
.w-service-form-input{
	display: inline-block;
	line-height: 40px;
	height: 40px;
}
.w-service-form-field label{
	display: inline-block;
	width: 60px;
	padding-right: 10px;
	text-align: right;\
}
.service-form-input{
	line-height: 40px;
	height: 40px;
	width: 100%;
}
.w-service-form-input{
	position: relative;
	width: 590px;
	padding: 0 5px;
}
.w-service-form-input_half{
	width: 252px;
}

.btn-chooseFile{
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 40px;
	background: #c2c2c2;
	text-align: center;
	color: #fff;
}
.btn-chooseFile:hover{
	background: #999;
}
#cardFile{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 40px;
	opacity: 0;
}




.w-service-form-input_quarter{
	width: 120px;
}
.w-service-form-field_message{
	overflow: hidden;
	height: auto;
}
.w-service-form-field_message label{
	display: block;
	float: left;
}
.w-service-form-field_message .service-form-input{
	display: block;
	height: 120px;
	line-height: 1.2;
}
.w-service-form-field_message .w-service-form-input{
	display: block;
	overflow: hidden;
	padding: 5px;
	height: auto;
}
.captcha-pic{
	vertical-align: top;
	margin-left: 5px;
}
.btn-changeCaptcha{
	color: #b6b6b6;
	margin-left: 10px;
}
.btn-changeCaptcha:hover{
	color: #434343;
}
.btn-submite{
	display: block;
	width: 132px;
	height: 44px;
	margin: 40px auto; 
	color: #fff;
	background: #999;
	cursor: pointer;
}
.btn-submite:hover{
	color: #434343;
	background:#ec6e00;
}


.f-border_gray{
	border: 1px solid #b6b6b6;
}
.f-w50percent{
}